@use '@variables' as *;

.FolderInteractive-container {
    margin: auto;
    position: relative;
    display: grid;
    grid-template-rows: 80% 1fr;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &__folder {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        & > div {
            width: 60%;
            height: 60%;
            position: absolute;
            border-radius: 12px;
            &:nth-child(1) {
                z-index: 1;
                background-color: $p-color;
                &::after {
                    content: '';
                    width: 30%;
                    height: 100%;
                    position: absolute;
                    top: -20%;
                    border-top-left-radius: 12px;
                    border-top-right-radius: 12px;
                    background-color: $p-color;
                }
            }
            &:nth-child(2) {
                padding: 4px 8px;
                border: 1px solid black;
                background-color: $white-color;
                color: $black-color;
                font-size: 70%;
                text-wrap: balance;
                overflow: hidden;
                z-index: 2;
                transform-origin: center bottom;
                transform: scaleX(0.9) scaleY(0.9);
                transition: all 0.3s 0.3s ease-in-out;
            }
            &:nth-child(3) {
                z-index: 3;
                transform-origin: left bottom;
                transform: skewX(-15deg) scaleY(0.85);
                border: 1px solid black;
                box-shadow: 2px 2px 2px #242424;
                background: linear-gradient(0deg, $p2-color 0%, $p-color 47%);
                transition: all 0.3s 0.3s ease-in-out;
            }
        }
    }
    &__tittle {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &:hover .FolderInteractive-container__folder > div:nth-child(2) {
        transform: scaleX(0.9) scaleY(1.3);
    }
    &:hover .FolderInteractive-container__folder > div:nth-child(3) {
        transform: skewX(-25deg) scaleY(0.67);
        box-shadow: 2px 2px 6px #242424;
    }
    &:hover .FolderInteractive-container__tittle > h3 {
        color: $t-color;
    }
    
}