@use '@variables' as *;

.portfolio{
    width: 100%;
    height: 100%;
    padding: 28px;
    position: relative;
    display: grid;
    justify-content: center;
    grid-template:
        "intro intro proyects" 3fr
        "contact contact proyects" 4fr / 380px 1fr;
    ;
    gap: 28px;
    &__introduction {
        grid-area: intro;
    }
    &__projects {
        grid-area: proyects;
    }
    &__contact {
        grid-area: contact;
    }
   
}


.introduction {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 8px;
    background-color: light-dark($p-color, $Op-color);
    border-radius: 10px;
    &__name {
        width: 100%;
        font-size: 2.3rem;
        font-weight: 800;
    }
    &__paragraph {
        position: relative;
        font-size: 1.1rem;
        font-weight: 600;
        text-indent: 30px;
        & span {
            font-size: 1.8rem;
            &:nth-child(1) {
                position: absolute;
                left: -32px;
                top: -7px;
                transform-origin: bottom right;
                animation: hello 10s infinite 2s;
            }
            &:nth-child(2) {
                position: relative;
                padding: 4px 8px;
                top: -5px;
                left: 0px;
                border-radius: 10px;
                font-size: 1.4rem;
                font-weight: 500;
                background-color: $ac-color;
            }
        }
    }
    &__image {
        position: absolute;
        top: -15px;
        right: -15px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 5px inset $ac-color;
        outline:  6px solid light-dark($w-color, $b-color);
    }
    &__social {
        width: 224px;
        display: flex;
        justify-content: center;
        
        gap: 4px;
        border-bottom: 1px solid $ac2-color;
    }

    & .social-link {
        &__item {
            margin-bottom: 4px;
            font-size: 1rem;
            border-radius: 5px;
            background-color: $p-color;
            transition: background-color 0.3s ease-in-out;
            cursor: pointer;
            & span {
                padding: 6px;
                display: flex;
                align-items: end;
                gap: 4px;
                font-size: 0.9rem;
                color: $b-color;
                font-weight: 700;
                & svg {
                    width: 20px;
                    height: 20px;
                }
            }
            & a {
                padding: 6px;
                display: flex;
                align-items: end;
                gap: 4px;
                font-size: 0.9rem;
                text-decoration: none;
                color: $b-color;
                font-weight: 700;
                & svg {
                    width: 20px;
                    height: 20px;
                }
            }
            &:hover {
                background-color: $Op2-color;
                & span, & a {
                    color: $w-color;
                    & svg {
                        fill: $w-color;
                    }
                }
            }
        }
    }

    &__button {
        position: absolute;
        bottom: 14px;
        right: 14px;
        padding: 8px 16px;
        border-radius: 5px;
        background-color: light-dark($ac2-color, $ac-color);
        color: $w-color;
        font-size: 1.1rem;
        font-weight: 800;
        text-decoration: none;
        transition: background-color 0.3s ease-in-out;
        & span {
            animation: blink 10s infinite 2s;
            & svg {
                width: 12px;
                height: 12px;
                margin-right: 8px;
                fill: $w-color;
            }
            
        }
        &:hover {
            background-color: $s2-color;
        }
    }

    @keyframes hello {
        0% {
            transform: rotate(0deg);
        }
        5% {
            transform: rotate(25deg);
        }
        10% {
            transform: rotate(-20deg);
        }
        15% {
            transform: rotate(25deg);
        }
        20% {
            transform: rotate(-20deg);
        }
        25% {
            transform: rotate(25deg);
        }
        30% {
            transform: rotate(-20deg);
        }
        35% {
            transform: rotate(25deg);
        }
        40% {
            transform: rotate(-10deg);
        }
        45% {
            transform: rotate(10deg);
        }
        50% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    @keyframes blink {
        0% {
            opacity: 1;
        }
        60% {
            opacity: 1;
        }
        70% {
            opacity: 0;
        }
        80% {
            opacity: 1;
        }
        90% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

}

.projects {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 16px;
    background: light-dark($p-color, $p-color);
    border-radius: 10px;
    justify-items: center;
    clip-path: polygon(
        0% 0%, 
        calc(100% - 91px) 0%, 
        calc(100% - 91px) 40px, 
        100% 40px, 
        100% 100%, 
        0% 100%
    );
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: light-dark($b-color, $w-color) light-dark($gs-color, $b-color);
    scrollbar-gutter: stable;
    &__tittle {
        position: sticky;
        top: -16px;
        height: 50px;
        width: 100%;
        background-color: light-dark($p-color, $Op-color);
        border-bottom: 4px double $ac-color;
        z-index: 1;
    }
    &__wrap {
        margin-top: 16px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }
    &__item {
        flex: 1 1 210px;
        max-width: 270px;
        border-radius: 10px;
        border: 1px solid $p2-color;
        box-shadow: 1px 1px 1px $bo-color;
        overflow: hidden;
        view-timeline-name: --appear; 
        animation-timeline: --appear;
        animation-range: entry 5% cover 15%;
        animation-name: fade-in-up;
        animation-fill-mode: both;
        &:hover {
            .projects__imagen img {
                transform: scale(1.25);
            }
        }
        @keyframes fade-in-up {
            0% {
              opacity: 0;
              transform: translateY(500px) scale(0);
            }
            20% {
                opacity: 0.6;
                transform: translateY(5px) scale(0.80);
            }
            100% {
              opacity: 1;
              transform: translateY(0px) scale(1);
            }
          }
    }
    &__imagen {
        width: 100%;
        background-color: light-dark($b-color, $bo-color);
        overflow: hidden;
        & > img {
            width: 100%;
            object-fit: contain;
            border-radius: 10px;
            transition: transform 0.3s ease-in-out;
        }
    }
    &__description {
        width: 100%;
        max-height: 280px;
        padding: 16px;
        background-color: light-dark($p-color, $b-color);
        border-bottom: 2px groove light-dark($ac-color, $w-color);
        
        & > h3 {
            margin-top: 16px;
            font-size: 1.3rem;
            font-weight: 700;
        }
        & > p {
            margin-top: 8px;
            font-size: 1rem;
            font-weight: 600;
        }
        & > div:nth-child(3) {
            margin-top: 16px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 4px;
            & > span {
                padding: 4px 8px;
                font-size: 1rem;
                font-weight: 700;
                color: $w-color;
                background-color: light-dark($ac2-color, $ac-color);
                border-radius: 10px;
                transition: background-color 0.3s ease-in-out;
                &:hover {
                    background-color: $s2-color;
                }
            }
        }
        & > div:nth-child(4) {
            margin-top: 16px;
            display: flex;
            justify-content: space-between;
            gap: 8px;

            & > a {
                text-decoration: none;
                font-weight: 800;
                padding: 8px;
                border-radius: 5px;
                
                transition: background-color 0.3s ease-in-out;
                &:hover {
                    background-color: light-dark($ac2-color, $ac-color);
                    color: $w-color;
                }
            }
        }
    }
}

.contact {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 16px;
    background-color: light-dark($p-color, $Op-color);
    border-radius: 10px;
    align-content: center;
    &__form {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        & > h3 {
            margin: 4px 0px;
            font-size: 1.7rem;
            font-weight: 700;
            place-self: start;
        }
        & > div {
            width: 100%;
            & input {
                width: 100%;
                padding: 8px;
                border-radius: 5px;
                border: 1px solid $ac-color;
                font-size: 1rem;
                font-weight: 600;
                transition: border-color 0.3s ease-in-out;
                &:focus {
                    border-color: $ac2-color;
                }
            }
            & textarea {
                width: 100%;
                padding: 8px;
                height: 50px;
                border-radius: 5px;
                border: 1px solid $ac-color;
                font-size: 1rem;
                font-weight: 600;
                resize: none;
                transition: border-color 0.3s ease-in-out;
                &:focus {
                    border-color: $ac2-color;
                }
            }

        }
        & > button {
            padding: 8px 16px;
            border-radius: 5px;
            background-color: light-dark($ac2-color, $ac-color);
            color: $w-color;
            font-weight: 800;
            font-size: 1.2rem;
            transition: background-color 0.3s ease-in-out;
            &:hover {
                cursor: pointer;
                background-color: $s2-color;
            }
        }
    }
}

.borders:nth-last-child(1) {
    position: absolute;
    top: 28px;
    right: 119px;
    width: 15px;
    height: 15px;
    border-top-right-radius: 10px;
    background-color: transparent;
    box-shadow: 3px -3px light-dark($w-color, $b-color);
    z-index: 1;
}

.borders:nth-last-child(2) {
    position: absolute;
    top: 53px;
    right: 104px;
    width: 15px;
    height: 15px;
    border-bottom-left-radius: 10px;
    background-color: light-dark($w-color, $b-color);
    box-shadow: -3px 3px light-dark($p-color, $p-color);
    z-index: 1;
}

.borders:nth-last-child(3) {
    position: absolute;
    top: 68px;
    right: 28px;
    width: 15px;
    height: 15px;
    border-top-right-radius: 10px;
    background-color: transparent;
    box-shadow: 3px -3px light-dark($w-color, $b-color);
    z-index: 1;
}


@media screen and (max-width: 768px) {
    .portfolio {
        height: auto;
        justify-content: center;
        grid-template: 
            "intro" auto
            "proyects" 450px
            "contact" auto / 1fr
        ;
        & .introduction {
            justify-content: center;
            
            clip-path: polygon(
                0% 0%, 
                calc(100% - 91px) 0%, 
                calc(100% - 91px) 40px, 
                100% 40px, 
                100% 100%, 
                0% 100%
            );
            &__image {
                display: none;
            }
            &__social {
                align-self: flex-start;
            }   
            
        }
        & .projects {
            width: 70%;
            margin: auto;
            clip-path: none;
            
        }
    }
    
    
}