* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100dvh; 
}

h1, h2, h3, h4 {
  text-wrap: balance;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 700 ;
}

p {
  text-wrap: pretty; 
}

b, 
strong {
  font-weight: bolder;
}

body, p, li {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

button, span {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hidden {
  display: none!important;
}