// 🎨 Colores oscuros, claros y grises 
$b-color: #1E1E1E; 
$bo-color: #242424d3;

$w-color: #F9F9F9; 
$wo-color: #f9f9f9d3;

$g-color: #505050; 
$gs-color: #cccccc; 
$gw: #f5f5f5; 

// 🎨 Colores principales para MODO CLARO y MODO OSCUEO


$p-color: #fffef5;
$p2-color: #fffbe5;
$p3-color: #e6d556;
$p4-color: #91894C;
$p5-color: #1b1803;

$s-color: #f4fdff; 
$s2-color: #e6fdff;
$s3-color: #44AAB8;
$s4-color: #4A7378;
$s5-color: #031d20;



$ac-color: #F7DF1E; 
$ac2-color: #1EDEF7;
$ac3-color: #F71E8D;




//como se usan las fuentes


// .jetbrains-mono-<uniquifier> {
//     font-family: "JetBrains Mono", serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
// }



// .roboto-<uniquifier> {
//     font-family: "Roboto", serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
//     font-variation-settings: "wdth" 50/150 o mas(letras anchas o angostas),  /  "ital" 0/1 (italica),  /   "wght" 0/900(peso);
// }



// .lato-thin {
//     font-family: "Lato", serif;
//     font-weight: 100;
//     font-style: italic/normal;
// }
  
  