// colores
$black-color: #242424;
$black-soft-color: #213547 ; 

$white-color: #F8F8F8 ;
$white-soft-color: rgba(255, 255, 255, 0.87);

// $scheme-color1: hsl(56, 100%, 64%);
// $scheme-color2: hsl(198, 77%, 51%);

//fuentes
$primary-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

