@use '@reset' as reset;
@use '@variables' as *;


// (tema oscuro)
:root.dark {
  color: $w-color;
  background-color: $b-color;
  color-scheme: dark;
  transition: background-color 0.3s ease-in-out;
}

// (tema claro)
:root.light {
  color: $b-color; 
  background-color: $s-color;
  color-scheme: light;
  transition: background-color 0.3s ease-in-out;
}


#root {
  position: relative;
  width: 100vw;
  height: 100dvh;
  padding: 1.6rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: light-dark($b-color, $w-color) light-dark($gs-color, $b-color);
  scrollbar-gutter: stable;
}

::selection {
  background: light-dark($p-color, $s-color);
  color: light-dark($w-color, $b-color);
}